@charset "utf-8";
/* CSS Document */
#header{
	width:100%;
	height:40px;
	background-color:#658db5;
	/*position:fixed;
	top:0;*/
	
	/*margin:0 auto;*/}
/*#navi{
	width:inherit;
	height:30px;
	background-color:#232323;}*/	
#footer{
	width: 100%;
	height: 100px;
    position:relative;/*fixed for floating footer and remove clear:both*/
    bottom:0;
	clear:both;

	background-color: #232323;
	 box-decoration-break:clone;
	 line-height:1.4em;
	}	

#header .header_left{
	width:70%;
	height:inherit;
	
	/*background:#FFFFFF;*/
	float:left;}
#header .header_right{
	width:30%;
	height:inherit;
	/*background-color:#FF0000;*/
	float:right;}
#header .header_left #logo{
	width:18%;
	height:30px;
	margin:5px 1% 5px 1%;
	background-color:rgba(214, 202, 202, 0.26);
	float:left;}
#header .header_left #logo img{
	float:right;}	
#header .header_left #web_name{
	width:80%;
	height:inherit;
	/*background-color:#666666;*/
	float:left;
	color:#FFFFFF;
	text-align:start;
	font-size:2em;
	font-variant:small-caps;
	
	}
#header .header_left #web_name p{
	margin-top:10px;}	
#header .header_right .user_name{
	width:50%;
	height:inherit;
	/*background-color:#0000FF;*/
	float:left;
	color:#FFFFFF;
	
	}
#header .header_right .user_name p{
	margin-top:10px;
	/*text-align:end;*/
	float:right;
	margin-right:2%;
	
	}	
#header .header_right .user_name p a{
	color:white;
	
	
	}	
#header .header_right .prof_pic{
	width:25%;
	height:inherit;
	/*background-color:#FFFF00;*/
	float:left;
	}

		
#header .header_right #logout{
	width:25%;
	height:inherit;
	/*background-color:#FF99FF;*/
	float:left;
	text-align:center;
	}

#header .header_right #logout p,#header .header_right #logout p a{
	margin-top:10px;
	text-decoration:none;
	color:#FFFFFF;
	}							


#navi{
	width:inherit;
	height:30px;
	background-color:#232323;}	
	#new_wrapper{
	width:950px;
	margin:0px auto;
	text-align:center;	
	}
	#navi ul{
		list-style-type:none;
		margin:0;
		padding:0;
		position:relative;
	}
	#navi ul li{
		display:inline-block;
	opacity:.5;
	}
	#navi ul li:hover{
		background-color:#099;
		opacity:2;
		border-radius:50em;
		
	}
	#navi ul li a,visited{
		color:#ccc;
		display:block;
		padding:7px;
		text-decoration:none;
		
		}
	/*#navi ul li a:hover{
			color:#099;
			text-decoration:none;
		